*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

@media (min-width: 1300px) {
  #back {
    display: wrap row;
  }
  #back .masque {
    mask-size: 0.5rem;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: center;
}
header img {
  margin-top: 30px;
}

#lien {
  background-color: #32bae9;
  text-align: center;
  margin-top: 30px;
}
#lien a {
  height: 1px;
  color: aliceblue;
  display: inline-flex;
  font-weight: bolder;
  text-decoration: none;
  padding: 30px;
  transition: 0.5s;
}
#lien :hover {
  background-color: #a3a3ab;
  color: aqua;
  transform: translateY(-3px);
}
#lien :hover:active {
  transform: translateY(2px);
}

#back {
  background-color: #2680e2;
  height: 83vh;
  display: flex;
  align-items: center;
}
#back .masque {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#text h1 {
  color: aliceblue;
  font-size: 120px;
  margin-right: 300px;
}
#text p {
  color: aliceblue;
  font-size: 20px;
}
#text button {
  background-color: yellow;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
  width: 150px;
}

#page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: row;
}
#page2 #article {
  padding: 100px;
}

.info {
  padding: 50px;
  text-align: center;
}
.info h1 {
  font-size: 70px;
  color: #1a1818;
}
.info a {
  font-weight: bold;
  font-size: 15px;
  color: deepskyblue;
  text-decoration: none;
}

.girl {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.girl img {
  padding: 25px;
}
.girl p {
  font-size: 16px;
}
.girl .nom {
  margin-left: 35px;
  padding: 20px;
}
.girl .taille {
  height: 200px;
  width: 220px;
}
